.elementor-30 .elementor-element.elementor-element-2382578d:not(.elementor-motion-effects-element-type-background),
.elementor-30 .elementor-element.elementor-element-2382578d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	display:flex;
	width: 100%;
	height: 8vh;
	background-color: white;
}

.wpr-nav-menu{
	width: 60vw;
}

.elementor-30 .elementor-element.elementor-element-2382578d {
	top: 0px;
	bottom: auto;
	z-index: 5;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 10px 0px 10px 0px;
}

.elementor-30 .elementor-element.elementor-element-2382578d+.wpr-hidden-header {
	top: 0px;
}

.elementor-30 .elementor-element.elementor-element-2382578d+.wpr-hidden-header-flex {
	top: 0px;
}

.wpr-hidden-header {
	z-index: 10;
}

.wpr-hidden-header-flex {
	z-index: 10;
}

.elementor-30 .elementor-element.elementor-element-2382578d>.elementor-background-overlay {
	opacity: 0.59;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-30 .elementor-element.elementor-element-2382578d>.elementor-shape-bottom svg {
	width: calc(100% + 1.3px);
	height: 31px;
	transform: translateX(-50%) rotateY(180deg);
}

.elementor-bc-flex-widget .elementor-30 .elementor-element.elementor-element-2ddc0ec6.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-30 .elementor-element.elementor-element-2ddc0ec6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-30 .elementor-element.elementor-element-acf72c4.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-30 .elementor-element.elementor-element-acf72c4.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-30 .elementor-element.elementor-element-acf72c4.elementor-column>.elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-menu-item.wpr-pointer-item {
	transition-duration: 0.5s;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-menu-item.wpr-pointer-item:before {
	transition-duration: 0.5s;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-menu-item.wpr-pointer-item:after {
	transition-duration: 0.5s;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-toggle-wrap {
	text-align: center;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-nav-menu .wpr-menu-item,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-nav-menu>.menu-item-has-children>.wpr-sub-icon {
	color: #000000;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-nav-menu .wpr-menu-item:hover,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-nav-menu>.menu-item-has-children:hover>.wpr-sub-icon,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-nav-menu .wpr-menu-item.wpr-active-menu-item,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-nav-menu>.menu-item-has-children.current_page_item>.wpr-sub-icon {
	color: #403AFA;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-pointer-line-fx .wpr-menu-item:before,
.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-pointer-line-fx .wpr-menu-item:after {
	background-color: #4C6E91;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-pointer-border-fx .wpr-menu-item:before {
	border-color: #4C6E91;
	border-width: 1px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-pointer-background-fx .wpr-menu-item:before {
	background-color: #4C6E91;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .menu-item-has-children .wpr-sub-icon {
	font-size: 14px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-pointer-background:not(.wpr-sub-icon-none) .wpr-nav-menu-horizontal .menu-item-has-children .wpr-pointer-item {
	padding-right: calc(14px + 7px);
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-pointer-border:not(.wpr-sub-icon-none) .wpr-nav-menu-horizontal .menu-item-has-children .wpr-pointer-item {
	padding-right: calc(14px + 7px);
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-nav-menu .wpr-menu-item,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu a,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-toggle-text {
	font-family: "Poppins", Sans-serif;
	font-size: 15px;
	font-weight: 400;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-pointer-underline .wpr-menu-item:after,
.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-pointer-overline .wpr-menu-item:before,
.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-pointer-double-line .wpr-menu-item:before,
.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-pointer-double-line .wpr-menu-item:after {
	height: 1px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-nav-menu .wpr-menu-item {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-pointer-background:not(.wpr-sub-icon-none) .wpr-nav-menu-vertical .menu-item-has-children .wpr-sub-icon {
	text-indent: -7px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-pointer-border:not(.wpr-sub-icon-none) .wpr-nav-menu-vertical .menu-item-has-children .wpr-sub-icon {
	text-indent: -7px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-nav-menu>.menu-item {
	margin-left: 10px;
	margin-right: 10px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-menu {
	margin-left: 10px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-main-menu-align-left .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-icon {
	right: 10px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-main-menu-align-right .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-icon {
	left: 10px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-sub-menu .wpr-sub-menu-item,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-sub-menu>.menu-item-has-children .wpr-sub-icon {
	color: #333333;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-sub-menu .wpr-sub-menu-item {
	background-color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 13px;
	padding-bottom: 13px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-sub-menu .wpr-sub-menu-item:hover,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-sub-menu>.menu-item-has-children .wpr-sub-menu-item:hover .wpr-sub-icon,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-sub-menu>.menu-item-has-children.current_page_item .wpr-sub-icon {
	color: #ffffff;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-sub-menu .wpr-sub-menu-item:hover,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item {
	background-color: #605BE5;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-sub-menu .wpr-sub-icon {
	right: 15px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-main-menu-align-right .wpr-nav-menu-vertical .wpr-sub-menu .wpr-sub-icon {
	left: 15px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-nav-menu-horizontal .wpr-nav-menu>li>.wpr-sub-menu {
	margin-top: 0px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.wpr-sub-divider-yes .wpr-sub-menu li:not(:last-child) {
	border-bottom-color: #e8e8e8;
	border-bottom-width: 1px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu a,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu .menu-item-has-children>a:after {
	color: #333333;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu li {
	background-color: #ffffff;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu li a:hover,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu .menu-item-has-children>a:hover:after,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu li a.wpr-active-menu-item,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu .menu-item-has-children.current_page_item>a:hover:after {
	color: #ffffff;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu a:hover,
.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu a.wpr-active-menu-item {
	background-color: gray;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu a {
	padding-left: 10px;
	padding-right: 10px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu .menu-item-has-children>a:after {
	margin-left: 10px;
	margin-right: 10px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu .wpr-mobile-menu-item {
	padding-top: 10px;
	padding-bottom: 10px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu .wpr-mobile-sub-menu-item {
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu {
	margin-top: 10px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-toggle {
	border-color: #FFFFFF;
	width: 50px;
	border-width: 0px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-toggle-text {
	color: #FFFFFF;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-toggle-line {
	background-color: #FFFFFF;
	height: 2px;
	margin-bottom: 4px;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-toggle:hover {
	border-color: gray;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-toggle:hover .wpr-mobile-toggle-text {
	color: gray;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-toggle:hover .wpr-mobile-toggle-line {
	background-color: gray;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f {
	width: var(--container-widget-width, 93.92%);
	max-width: 93.92%;
	--container-widget-width: 93.92%;
	--container-widget-flex-grow: 0;
}

.elementor-30 .elementor-element.elementor-element-9dbc32f.elementor-element {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-30 .elementor-element.elementor-element-8d522db:not(.elementor-motion-effects-element-type-background),
.elementor-30 .elementor-element.elementor-element-8d522db>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #D8D8D8;
}

.elementor-30 .elementor-element.elementor-element-8d522db {
	top: 0px;
	bottom: auto;
	z-index: 5;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 10px 0px 10px 0px;
}

.elementor-30 .elementor-element.elementor-element-8d522db+.wpr-hidden-header {
	top: 0px;
}

.elementor-30 .elementor-element.elementor-element-8d522db+.wpr-hidden-header-flex {
	top: 0px;
}

.elementor-30 .elementor-element.elementor-element-8d522db>.elementor-background-overlay {
	opacity: 0.59;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-30 .elementor-element.elementor-element-8d522db>.elementor-shape-bottom svg {
	width: calc(100% + 1.3px);
	height: 31px;
	transform: translateX(-50%) rotateY(180deg);
}

.elementor-bc-flex-widget .elementor-30 .elementor-element.elementor-element-f665825.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-30 .elementor-element.elementor-element-f665825.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-30 .elementor-element.elementor-element-867b617.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-30 .elementor-element.elementor-element-867b617.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-30 .elementor-element.elementor-element-867b617.elementor-column>.elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-menu-item.wpr-pointer-item {
	transition-duration: 0.5s;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-menu-item.wpr-pointer-item:before {
	transition-duration: 0.5s;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-menu-item.wpr-pointer-item:after {
	transition-duration: 0.5s;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-toggle-wrap {
	text-align: center;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-nav-menu .wpr-menu-item,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-nav-menu>.menu-item-has-children>.wpr-sub-icon {
	color: #000000;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-nav-menu .wpr-menu-item:hover,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-nav-menu>.menu-item-has-children:hover>.wpr-sub-icon,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-nav-menu .wpr-menu-item.wpr-active-menu-item,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-nav-menu>.menu-item-has-children.current_page_item>.wpr-sub-icon {
	color: #403AFA;
}

.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-pointer-line-fx .wpr-menu-item:before,
.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-pointer-line-fx .wpr-menu-item:after {
	background-color: #4C6E91;
}

.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-pointer-border-fx .wpr-menu-item:before {
	border-color: #4C6E91;
	border-width: 1px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-pointer-background-fx .wpr-menu-item:before {
	background-color: #4C6E91;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .menu-item-has-children .wpr-sub-icon {
	font-size: 14px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-pointer-background:not(.wpr-sub-icon-none) .wpr-nav-menu-horizontal .menu-item-has-children .wpr-pointer-item {
	padding-right: calc(14px + 7px);
}

.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-pointer-border:not(.wpr-sub-icon-none) .wpr-nav-menu-horizontal .menu-item-has-children .wpr-pointer-item {
	padding-right: calc(14px + 7px);
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-nav-menu .wpr-menu-item,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu a,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-toggle-text {
	font-family: "Poppins", Sans-serif;
	font-size: 15px;
	font-weight: 400;
}

.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-pointer-underline .wpr-menu-item:after,
.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-pointer-overline .wpr-menu-item:before,
.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-pointer-double-line .wpr-menu-item:before,
.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-pointer-double-line .wpr-menu-item:after {
	height: 1px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-nav-menu .wpr-menu-item {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-pointer-background:not(.wpr-sub-icon-none) .wpr-nav-menu-vertical .menu-item-has-children .wpr-sub-icon {
	text-indent: -7px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-pointer-border:not(.wpr-sub-icon-none) .wpr-nav-menu-vertical .menu-item-has-children .wpr-sub-icon {
	text-indent: -7px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-nav-menu>.menu-item {
	margin-left: 10px;
	margin-right: 10px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-menu {
	margin-left: 10px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-main-menu-align-left .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-icon {
	right: 10px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-main-menu-align-right .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-icon {
	left: 10px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-sub-menu .wpr-sub-menu-item,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-sub-menu>.menu-item-has-children .wpr-sub-icon {
	color: #333333;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-sub-menu .wpr-sub-menu-item {
	background-color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 13px;
	padding-bottom: 13px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-sub-menu .wpr-sub-menu-item:hover,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-sub-menu>.menu-item-has-children .wpr-sub-menu-item:hover .wpr-sub-icon,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-sub-menu>.menu-item-has-children.current_page_item .wpr-sub-icon {
	color: #ffffff;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-sub-menu .wpr-sub-menu-item:hover,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item {
	background-color: #605BE5;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-sub-menu .wpr-sub-icon {
	right: 15px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-main-menu-align-right .wpr-nav-menu-vertical .wpr-sub-menu .wpr-sub-icon {
	left: 15px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-nav-menu-horizontal .wpr-nav-menu>li>.wpr-sub-menu {
	margin-top: 0px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2.wpr-sub-divider-yes .wpr-sub-menu li:not(:last-child) {
	border-bottom-color: #e8e8e8;
	border-bottom-width: 1px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu a,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu .menu-item-has-children>a:after {
	color: #333333;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu li {
	background-color: #ffffff;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu li a:hover,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu .menu-item-has-children>a:hover:after,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu li a.wpr-active-menu-item,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu .menu-item-has-children.current_page_item>a:hover:after {
	color: #ffffff;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu a:hover,
.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu a.wpr-active-menu-item {
	background-color: #EB0046;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu a {
	padding-left: 10px;
	padding-right: 10px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu .menu-item-has-children>a:after {
	margin-left: 10px;
	margin-right: 10px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu .wpr-mobile-menu-item {
	padding-top: 10px;
	padding-bottom: 10px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu .wpr-mobile-sub-menu-item {
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu {
	margin-top: 10px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-toggle {
	border-color: #FFFFFF;
	width: 50px;
	border-width: 0px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-toggle-text {
	color: #FFFFFF;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-toggle-line {
	background-color: #FFFFFF;
	height: 2px;
	margin-bottom: 4px;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-toggle:hover {
	border-color:gray;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-toggle:hover .wpr-mobile-toggle-text {
	color: gray;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-toggle:hover .wpr-mobile-toggle-line {
	background-color: gray;
}

.elementor-30 .elementor-element.elementor-element-d9303f2 {
	width: var(--container-widget-width, 93.92%);
	max-width: 93.92%;
	--container-widget-width: 93.92%;
	--container-widget-flex-grow: 0;
}

.elementor-30 .elementor-element.elementor-element-d9303f2.elementor-element {
	--flex-grow: 0;
	--flex-shrink: 0;
}

body.elementor-page-30:not(.elementor-motion-effects-element-type-background),
body.elementor-page-30>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

@media(min-width:768px) {
	.elementor-30 .elementor-element.elementor-element-2ddc0ec6 {
		width: 7.367%;
	}

	.elementor-30 .elementor-element.elementor-element-acf72c4 {
		width: 92.633%;
	}

	.elementor-30 .elementor-element.elementor-element-f665825 {
		width: 7.367%;
	}

	.elementor-30 .elementor-element.elementor-element-867b617 {
		width: 92.633%;
	}
}

@media(max-width:1024px) {
	.elementor-30 .elementor-element.elementor-element-2382578d {
		top: 0px;
		bottom: auto;
		padding: 10px 20px 10px 20px;
	}

	.elementor-30 .elementor-element.elementor-element-2382578d+.wpr-hidden-header {
		top: 0px;
	}

	.elementor-30 .elementor-element.elementor-element-2382578d+.wpr-hidden-header-flex {
		top: 0px;
	}

	.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-nav-menu .wpr-menu-item,
	.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu a,
	.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-toggle-text {
		font-size: 14px;
	}

	.elementor-30 .elementor-element.elementor-element-8d522db {
		top: 0px;
		bottom: auto;
		padding: 10px 20px 10px 20px;
	}

	.elementor-30 .elementor-element.elementor-element-8d522db+.wpr-hidden-header {
		top: 0px;
	}

	.elementor-30 .elementor-element.elementor-element-8d522db+.wpr-hidden-header-flex {
		top: 0px;
	}

	.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-nav-menu .wpr-menu-item,
	.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu a,
	.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-toggle-text {
		font-size: 14px;
	}
}

@media(max-width:767px) {
	.elementor-30 .elementor-element.elementor-element-2382578d {
		top: 0px;
		bottom: auto;
	}

	.elementor-30 .elementor-element.elementor-element-2382578d+.wpr-hidden-header {
		top: 0px;
	}

	.elementor-30 .elementor-element.elementor-element-2382578d+.wpr-hidden-header-flex {
		top: 0px;
	}

	.elementor-30 .elementor-element.elementor-element-2ddc0ec6 {
		width: 40%;
	}

	.elementor-30 .elementor-element.elementor-element-acf72c4 {
		width: 40%;
	}

	.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-toggle-wrap {
		text-align: left;
	}

	.elementor-30 .elementor-element.elementor-element-9dbc32f .wpr-mobile-nav-menu {
		margin-top: 25px;
	}

	.elementor-30 .elementor-element.elementor-element-8d522db {
		top: 0px;
		bottom: auto;
	}

	.elementor-30 .elementor-element.elementor-element-8d522db+.wpr-hidden-header {
		top: 0px;
	}

	.elementor-30 .elementor-element.elementor-element-8d522db+.wpr-hidden-header-flex {
		top: 0px;
	}

	.elementor-30 .elementor-element.elementor-element-f665825 {
		width: 40%;
	}

	.elementor-30 .elementor-element.elementor-element-867b617 {
		width: 40%;
	}

	.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-toggle-wrap {
		text-align: left;
	}

	.elementor-30 .elementor-element.elementor-element-d9303f2 .wpr-mobile-nav-menu {
		margin-top: 25px;
	}
}